h1{
    width: 100%;
    text-align: center;
}
.selectButton{
    background-color: rgb(168, 166, 166);
}

.list-group-item:hover:not(:first-child){
    background-color: rgb(168, 166, 166);
    cursor: pointer;
}