h1,h3{
    width: 100%;
    text-align: center;
}
.firstDiv{
    margin-top: 10px; 
    padding-bottom: 50px;
}
.selectButton{
    background-color: rgb(168, 166, 166);
}

.list-group-item:hover:not(:first-child){
    background-color: rgb(168, 166, 166);
    cursor: pointer;
}
.selectGroup{
    /* margin-top: 10px; */
    /* margin-left: 0%; */
    /* text-align: center; */
    width: 25%;
    float: left;
}
.selectedCust{
    width: 50%;
    float: left;
    text-align: center;
}
.selectProd{
    width: 25%;
    float: right;
    text-align: right;
}
button{
    margin: 0 auto;
}
.out{
    margin: 0 auto;    
    width: 20%;
}
.centralVertical{
    margin-top: 5%;
    margin-left: auto;
    width: 60%;
}
.scrollable{
    height: 100px;
    overflow-y: scroll;
    overflow-x:unset;
    width: 100%;
    
}
table{
    width:100%;
    table-layout: fixed;
}
td{
    width: 50px;
    height: auto;
    word-wrap: break-word;
    padding: auto;
    text-align: center;
}
th{
    text-align: center;
}
input[type="number"]{
    text-align: center;
    margin-left:30%;
    width: 70px;
}

