<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRoduct</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css?v=1">

</head>
<body>
    <div id="app" class="container">
        <h1>PRODUCT</h1>
        
        <button type="button" class="btn add" data-toggle="modal" data-target="#editProdModal" @click='updateProduct({})'>
           ADD
        </button>
         
        <!--BOOTSTRAP MODAL END-->

        <table class="table">
            <tr>
                <th><strong>#</strong></th>
                <th><strong>Product Name</strong></th>
                <th><strong>Product Code</strong></th>
                <th><strong>Product Unit Price</strong></th>
                <th><strong>Tax Rate</strong></th>
                <th><strong>Actions</strong></th>

            </tr>
            <tr v-for="product in products">
                <td>[[product.id]]</td>
                <td>[[product.name]] </td>
                <td>[[product.code]]</td>
                <td>[[product.unit_price]]</td>
                <td>[[product.tax_rate]]</td>
                <td>
                    <button type="button" class="btn" data-toggle="modal" data-target="#editProdModal" @click="updateProduct(product)">
                        EDIT
                    </button>
                    <button class="btn" @click="deleteProduct(product.id)">DELETE</button>
                </td>           
            </tr>
        </table>

        <!--MODAL -->
        <div class="modal fade" id="editProdModal" tabindex="-1" role="dialog" aria-labelledby="editProdModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title" id="editProdModallLabel">Enter the product details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Product Name</label>
                        <input type="text" placeholder="Enter Product Name" class="form-control" v-model="subjectProduct.name">
                    </div>
                    <div class="form-group">
                        <label>Product Unit Price</label>
                        <input v-on:change="limitDecimal" type="number" step='0.01' placeholder="Product Unit Price" class="form-control" v-model="subjectProduct.unit_price">
                    </div>
                    <div class="form-group">
                        <label>Product Code</label>
                        <input type="text" placeholder="Enter Product Code" class="form-control" v-model="subjectProduct.code">
                    </div>
                    <div class="form-group">
                        <label>Product Tax Rate</label>
                        <input v-on:change="limitDecimal" type="number" step='0.01' placeholder="Enter Product Tax Rate" class="form-control" v-model="subjectProduct.tax_rate">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    <button type="button" class="btn" @click="submitProduct">SUBMIT</button>
                </div>
            </div>
            </div>
        </div>
        <!--MODAL-->

    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    
</script>
<script>
    var app =  new Vue({
        el: "#app",
        delimiters: ['[[', ']]'],
        data:{

            // productName: '',
            // productCode: '',
            // productUnitPrice: 0,
            // productTaxRate:0,
            products: [],
            editedIndex: -1,
            subjectProduct: {},
            isAdd: false
            
        },
        methods:{
            limitDecimal(){
                if(this.subjectProduct.unit_price)
                    this.subjectProduct.unit_price = parseFloat(parseFloat(this.subjectProduct.unit_price).toFixed(2))
                if(this.subjectProduct.tax_rate)
                    this.subjectProduct.tax_rate = parseFloat(parseFloat(this.subjectProduct.tax_rate).toFixed(2))
            },
            validateFeilds(){
                if(
                    ! this.subjectProduct.name || 
                    ! this.subjectProduct.code ||
                    ! this.subjectProduct.unit_price ||
                    ! this.subjectProduct.tax_rate

                ){
                    new Noty({
                        text: 'Invalid Entry',
                        theme: 'mint',
                        type: 'warning',
                        timeout: 2000,
                        layout: 'bottomRight'
                    }).show();
                    console.log('Empty Entry')
                    return false
                }
                return true
                
            },
            fetchProducts(){
                this.products = []
                let url = '/product/fetch/';
                let body = {};
                axios.post(url, body).then(response=>{
                    let products = response.data.products
                    this.products.push(...products)
                    console.log(response)
                })
            },
            deleteProduct(prodId){
                let url = '/product/delete/'
                let body = {
                    "id": prodId
                }
                axios.post(url, body).then(response=>{
                    console.log('Product deleted :', prodId)
                    this.fetchProducts()
                })
            },
            updateProduct(product){
                
                let tempIndex = this.products.indexOf(product)
                if(tempIndex != -1){
                    this.subjectProduct = this.products[tempIndex]
                    this.isAdd = false
                    console.log('Doing update operation')
                }
                else{
                    this.isAdd = true
                    this.subjectProduct = {}
                    console.log('Doing addition operation')
                }
            },
            submitProduct(){
                if(this.validateFeilds()){
                    let response_text = 'Successfully Added'
                    let response_type = 'success'
                    let url = '/product/create/'
                    let body = {
                        "name": this.subjectProduct.name,
                        "code": this.subjectProduct.code,
                        "unit_price": this.subjectProduct.unit_price,
                        "tax_rate":this.subjectProduct.tax_rate
                    }
                    console.log('this.isAdd = ', this.isAdd)
                    if(!(this.isAdd)){
                        url = '/product/update/'
                        body['id'] = this.subjectProduct.id
                    }
                    console.log(url, '\n', body)
                    axios.post(url, body).then(response=>{
                        console.log(response.data)
                        if(!(response.data.status)){
                            
                            response_text = 'Product code Already exists'
                            response_type = 'warning'
                        }
                            
                        
                        $('#editProdModal').modal("hide")
                        new Noty({
                            text: response_text,
                            theme: 'sunset',
                            type: response_type,
                            timeout: 2000,
                            layout: 'bottomRight'
                        }).show();
                        this.fetchProducts()
                    })
                       

                }
                
            }
           
        },
        mounted(){
            this.fetchProducts()
        }
    });
</script>
</html>
