<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css?v=1">

</head>
<body>
    <div id="app" class="container">
        <h1>CUSTOMER</h1>
        
        <button type="button" class="add" data-toggle="modal" data-target="#editCustModal" @click='updateCustomer({})'>
           ADD
        </button>
         
        <!--BOOTSTRAP MODAL END-->

        <table class="table">
            <tr>
                <th><strong>#</strong></th>
                <th><strong>User Name</strong></th>
                <th><strong>Full Name</strong></th>
                <th><strong>Mobile Number</strong></th>
                <th><strong>Actions</strong></th>
            </tr>
            <tr v-for="k in customers">
                <td>[[k.id]]</td>
                <td>[[k.username]] </td>
                <td>[[k.fullname]]</td>
                <td>[[k.mobile_number]]</td>
                <td>
                    <!--BOOTSTRAP MODAL HERE-->

                    <button type="button" class="btn" data-toggle="modal" data-target="#editCustModal" @click="updateCustomer(k)">
                        EDIT
                    </button>
                    
            
                    <!--BOOTSTRAP MODAL END-->
                    <button class="btn" @click="deleteCustomer(k.id)">DELETE</button>
                </td>           
            </tr>
        </table>
        <div class="modal fade" id="editCustModal" tabindex="-1" role="dialog" aria-labelledby="editCustModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title" id="editCustModallLabel">Enter the customer details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="text" name="username" v-model="edited_item.username" placeholder="Enter User Name" class="form-control">
                        <label for="fullname">Full Name</label>
                        <input type="text" name="fullname" v-model="edited_item.fullname" placeholder="Enter Full Name" class="form-control">
                        <label for="mobilenumber">Mobile Number</label>
                        <input type="text" name="mobilenumber" v-model="edited_item.mobile_number" placeholder="Enter Mobile Number" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Close</button>
                <button type="button" class="btn" @click="submitCustomer">SUBMIT</button>
                </div>
            </div>
            </div>
        </div>
        
        
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    
</script>
<script>
    var app =  new Vue({
        el: "#app",
        delimiters: ['[[', ']]'],
        data:{
            //inputPopup: false,
            userName: '',
            fullName: '',
            mobileNumber: 0,
            customers: [],
            editedIndex: -1,
            edited_item: {},
            isAdd: false
        },
        computed:{
            isNewCustomer(){
                return this.editedIndex == -1
            }
        },
        methods:{
            validateFields(){
                if (!(Number.isInteger(this.edited_item.mobile_number * 1) && this.edited_item.mobile_number.length == 10)){

                    new Noty({
                        text: 'Invalid Mobile Number',
                        theme: 'mint',
                        type: 'warning',
                        timeout: 2000,
                        layout: 'bottomRight'
                    }).show();
                    console.log('Not mobile number')
                    return false
                }
                  
                return true
            },
            updateCustomer(customer){
                let editedIndex = this.customers.indexOf(customer)
                if(editedIndex != -1){
                    this.edited_item = this.customers[editedIndex]
                    this.isAdd = false
                }
                    
                else{
                    this.edited_item = {}
                    this.isAdd = true
                }
                    
            },
            deleteCustomer(custId){
                console.log('Customer deleted: ',custId)
                let url = '/customer/delete/'
                let body = {
                    "id": custId
                };
                axios.post(url, body).then(response=>{
                    console.log(response)
                    this.fetchCustomers()
                });
            },
            fetchCustomers(){
                this.customers = []
                let url = '/customer/fetch/';
                let body = {};
                axios.post(url, body).then(response=>{
                    let customers = response.data.customers
                    this.customers.push(...customers)
                    console.log(response)
                })
            },
            submitCustomer(){
                
                if(this.validateFields()){
                    console.log('Is mobile number')
                    let url = '/customer/create/'
                    let body = {
                        "username": this.edited_item.username,
                        "fullname": this.edited_item.fullname,
                        "mobile_number": this.edited_item.mobile_number
                    }
                    if(!(this.isAdd)){
                        url = '/customer/update/'
                        body['id'] = this.edited_item.id
                    }
                    axios.post(url,body).then(response=>{
                        console.log(response)
                        $('#editCustModal').modal("hide")
                        new Noty({
                            text: 'Successfully Added',
                            theme: 'sunset',
                            type: 'success',
                            timeout: 2000,
                            layout: 'bottomRight'
                        }).show();
                        this.fetchCustomers()
                    })

                }
                

            }
        },
        mounted(){
            this.fetchCustomers()
        }
    });
</script>
</html>
