<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css?v=1">

</head>
<body>
    <div id="app" class="container">
        <h1>CUSTOMER</h1>
        <!-- <button class="btn add" @click="inputPopup=true">ADD</button>
        <div class="btns pop" v-if="inputPopup">
            <transition name="customeradd">
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-dialogue">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" @click="inputPopup=false">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4>Enter the customer details</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="username">User Name</label>
                                        <input type="text" name="username" placeholder="Enter User Name" class="form-control" v-model="userName">
                                        <label for="fullname">Full Name</label>
                                        <input type="text" name="fullname" placeholder="Enter Full Name" class="form-control" v-model="fullName">
                                        <label for="mobilenumber">Mobile Number</label>
                                        <input type="text" name="mobilenumber" placeholder="Enter Mobile Number" class="form-control" v-model="mobileNumber">
                                        <button class="form-control btn" @click="addCustomer">SUBMIT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div> -->

        <!--BOOTSTRAP MODAL HERE-->

        <button type="button" class="add" data-toggle="modal" data-target="#exampleModal">
           ADD
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Enter the customer details</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="text" name="username" placeholder="Enter User Name" class="form-control" v-model="userName">
                        <label for="fullname">Full Name</label>
                        <input type="text" name="fullname" placeholder="Enter Full Name" class="form-control" v-model="fullName">
                        <label for="mobilenumber">Mobile Number</label>
                        <input type="text" name="mobilenumber" placeholder="Enter Mobile Number" class="form-control" v-model="mobileNumber">
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal">Close</button>
                  <button type="button" class="btn" @click="addCustomer">SUBMIT</button>
                </div>
              </div>
            </div>
          </div>

        <!--BOOTSTRAP MODAL END-->

        <table class="table">
            <tr>
                <th><strong>#</strong></th>
                <th><strong>User Name</strong></th>
                <th><strong>Full Name</strong></th>
                <th><strong>Mobile Number</strong></th>
                <th><strong>Actions</strong></th>
            </tr>
            <tr v-for="k in customers">
                <td>[[k.id]]</td>
                <td>[[k.username]] </td>
                <td>[[k.fullname]]</td>
                <td>[[k.mobile_number]]</td>
                <td>
                    <button class="btn">EDIT</button>
                    <button class="btn" @click="deleteCustomer(k.id)">DELETE</button>
                </td>           
            </tr>
        </table>
        
        
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    
</script>
<script>
    var app =  new Vue({
        el: "#app",
        delimiters: ['[[', ']]'],
        data:{
            //inputPopup: false,
            userName: '',
            fullName: '',
            mobileNumber: 0,
            customers: []
        },
        methods:{
            deleteCustomer(custId){
                console.log('Customer deleted: ',custId)
                let url = '/customer/delete/'
                let body = {
                    "id": custId
                };
                axios.post(url, body).then(response=>{
                    console.log(response)
                    this.fetchCustomers()
                });
            },
            fetchCustomers(){
                this.customers = []
                let url = '/customer/fetch/';
                let body = {};
                axios.post(url, body).then(response=>{
                    let customers = response.data.customers
                    this.customers.push(...customers)
                    console.log(response)
                })
            },
            addCustomer(){
                
                if(Number.isInteger(this.mobileNumber * 1) && this.mobileNumber.length == 10){
                    console.log('Is mobile number')
                    let finalMobileNumber = ''
                    for(var i = 0; i < this.mobileNumber.length; i++){
                        if(i % 3 == 0 && i < 9 && i > 0){
                            finalMobileNumber += '-'
                        }
                        finalMobileNumber += this.mobileNumber[i]
                    }
                    console.log('Mobile :', finalMobileNumber)
                    console.log('customer added')
                    let url = '/customer/create/'
                    let body = {
                        "username": this.userName,
                        "fullname": this.fullName,
                        "mobile_number": finalMobileNumber
                    }
                    axios.post(url,body).then(response=>{
                        console.log(response)
                        $('#exampleModal').modal("hide")
                        this.fetchCustomers()
                    })

                }
                else{
                    new Noty({
                        text: 'Invalid Mobile Number',
                        theme: 'mint',
                        type: 'warning',
                        timeout: 2000,
                        layout: 'bottomRight'
                    }).show();
                    console.log('Not mobile number')
                }

            }
        },
        mounted(){
            this.fetchCustomers()
        }
    });
</script>
</html>
